extends layout 

block content 

  h1 Instrument: #{instrument.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Songs
    if instrument_songs.length 
      dl 
        each song in instrument_songs 
          dt 
            a(href=song.url) #{song.name}
          dd #{song.composer.name} 
    else 
      p This instrument has no songs.
  hr
  p
    a(href=instrument.url+'/delete') Delete instrument
