extends layout

block content

  h1 #{title}: #{instrument.name}
  p= instrument.description

  if instrument_songs.length

    p #[strong Delete the following songs before attempting to delete this instrument.]
    div(style='margin-left:20px;margin-top:20px')
      h4 Songs
      dl
        each song in instrument_songs
          dt
            a(href=song.url) #{song.name}

  else
    p Do you really want to delete this Instrument?

    form(method='POST')
      div.form-group
        input#instrumentid.form-control(type='hidden', name='instrumentid', value=instrument._id )

      button.btn.btn-primary(type='submit') Delete
