extends layout 

block content 
  h1 Title: #{song.name} 

  p #[strong Composer: ]
    a(href=song.composer.url) #{song.composer.name}
  p #[strong Difficulty: ] #{song.difficulty}
  p #[strong Price: ] #{song.price}
  p #[strong Number in Stock: ] #{song.number_in_stock}
  if song.period
    p #[strong Period: ]
      a(href=song.period.url) #{song.period.name}
  p #[strong Instruments: ]
    each val, index in song.instrument 
      a(href=val.url) #{val.name} 
      if index < song.instrument.length - 1 
        |,&nbsp;
  hr
  p
    a(href=song.url+'/delete') Delete song
  p 
    a(href=song.url+'/update') Update song
